* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: ".ApplySystemUIFont", sans-serif;
}

body {
  background: #fff1dc;
  text-align: center;
}

.a {
  display: flex;
  height: 65px;
  align-items: center;
  padding: 0 20px;
  color: teal;
  text-decoration: none;
}
